<section class="teaching">
  <div class="teaching__inner">
    <h2 class="teaching__title">PESQUISA</h2>
    <p class="teaching-card__subtitle">
          O projeto de pesquisa “Modelo de Sustentabilidade na Engenharia de Software Biomédico”, com o registro 1117/2025 na COMPESQ da UFCSPA, 
          tem o objetivo de desenvolver um modelo integrado para a incorporação, promoção e avaliação sistemática de práticas sustentáveis nas dimensões 
          ambiental, econômica, social, técnica e individual em projetos de Engenharia de Software aplicados à Informática Biomédica, 
          visando contribuir para o desenvolvimento ético, responsável e sustentável de soluções tecnológicas na área da saúde.
    </p> 
    <br>
    <div class="teaching-grid">
      <div class="teaching-card" tuiCardLarge tuiAppearance="floating">
        <tui-avatar src="@tui.graduation-cap" size="xl" class="teaching-card__icon"></tui-avatar>
        <h3 class="teaching-card__heading">Iniciação Científica</h3>
        <p class="teaching-card__desc" style="text-align: justify;">
          O SEEDS conta com duas bolsas de Iniciação Científica (CNPq e UFCSPA) vinculadas aos seguintes projetos:
        </p>
        <ul class="teaching-card__list">
          <li style="text-align: justify;">Sustentabilidade na Engenharia de Software Biomédico: uma abordagem multidimensional para a saúde digital</li>
          <br>
          <li style="text-align: justify;">Green Software na Saúde Digital: Modelo de Práticas de Design Sustentável</li>
        </ul>
      </div>

      <div class="teaching-card" tuiCardLarge tuiAppearance="floating">
        <tui-avatar src="@tui.computer" size="xl" class="teaching-card__icon"></tui-avatar>
        <h3 class="teaching-card__heading">Iniciação Tecnológica</h3>
          <p  class="teaching-card__desc" style="text-align: justify;">Uma bolsa de Iniciação Tecnológica (FAPERGS), vinculada ao projeto “Plataforma Digital Baseada em Evidências para a Sustentabilidade em Projetos de Software Biomédico”.</p>
      </div>

      <div class="teaching-card" tuiCardLarge tuiAppearance="neutral">
        <tui-avatar src="@tui.hospital" size="xl" class="teaching-card__icon"></tui-avatar>
        <h3 class="teaching-card__heading">PET Saúde Digital</h3>
        <p class="teaching-card__desc" style="text-align: justify;">
          O Programa de Educação pelo Trabalho para a Saúde (PET-Saúde), desenvolvido pelo Ministério da Saúde em cooperação com o Ministério da Educação, promove a articulação entre ensino, serviços de saúde e comunidade, qualificando a formação de profissionais e impulsionando a transformação digital no SUS.
        </p>
        <p class="teaching-card__desc" style="text-align: justify;">
          Membros do grupo SEEDS atuam no grupo tutorial “Sustentabilidade na Saúde Digital”, vinculado à UFCSPA.
        </p>
      </div>
    </div>
  </div>
</section>
