<section class="main-content">
  <h2 tuiTitle>ENSINO</h2>
  <div class="grid-container">
    <div tuiCardLarge tuiAppearance="floating" class="feature-card">
      <tui-avatar
        src="@tui.graduation-cap"
        size="xl"
        class="feature-icon"
      ></tui-avatar>
      <h3 tuiTitle>GRADUAÇÃO</h3>
      <p>
        Disciplinas ministradas na graduação em Informática Biomédica na UFCSPA:
      </p>
      <ul>
        <li>Engenharia de Software I</li>
        <li>Engenharia de Software II</li>
        <li>Técnicas Avançadas de Projeto de Software</li>
        <li>Teste de Software</li>
      </ul>
    </div>
    <div tuiCardLarge tuiAppearance="neutral" class="feature-card">
      <tui-avatar
        src="@tui.plane"
        size="xl"
        class="feature-icon"
        background="#2196f3"
      ></tui-avatar>
      <h3 tuiTitle>MESTRADO & DOUTORADO</h3>
      <p>
        Disciplinas oferecidas pelo Programa de Pós-graduação em Tecnologias da
        Informação e Gestão em Saúde (PPGTIGSaúde) da UFCSPA:
      </p>
      <ul>
        <li>Saúde Digital e Sustentabilidade</li>
        <li>Talks about Healthcare Software</li>
      </ul>
    </div>
    <div tuiCardLarge tuiAppearance="neutral" class="feature-card">
      <tui-avatar src="@tui.users" size="xl" class="feature-icon"></tui-avatar>
      <h3 tuiTitle>PID (Iniciação à Docência)</h3>
      <p>
        Desenvolvimento de plataforma digital da Engenharia de Software
        Biomédico da UFCSPA (Edital PROGRAD 80/2024).
      </p>
    </div>
  </div>
</section>
