<section class="teaching">
    <div class="teaching__inner">
        <h2 class="teaching__title">EXTENSÃO</h2>
        <p class="teaching-card__subtitle">
            O SEEDS conta com uma bolsa de extensão (PROBEXT-UFCSPA), vinculada ao projeto
            “Sustentabilidade na Saúde Digital: Construindo Práticas Responsáveis e Conscientes”.
        </p>
        <div class="teaching-grid">
            <div class="teaching-card" tuiCardLarge tuiAppearance="floating">
                <tui-avatar src="@tui.pen" size="xl" class="teaching-card__icon"></tui-avatar>
                <h3 class="teaching-card__heading">ENSINO</h3>
                <h3 class="teaching-card__heading">Projetos</h3>
                <p class="teaching-card__desc" style="text-align: justify;">
                    Disciplinas na graduação, na pós-graudação(mestrado e doutorado) e cursos de curta duração.
                    texto
                </p>
            </div>

            <div class="teaching-card" tuiCardLarge tuiAppearance="floating">
                <tui-avatar src="@tui.file-search-2" size="xl" class="teaching-card__icon"></tui-avatar>
                <h3 class="teaching-card__heading">PESQUISA</h3>
                <h3 class="teaching-card__heading">Eventos</h3>
                <p class="teaching-card__desc" style="text-align: justify;">
                    Pesquisas em Engenharia de Software com foco em sustentabilidade, promovendo soluções digitais
                    responsáveis, éticas e alinhadas aos ODSs da Agenda 2030.
                    Eventos que conectam Engenharia de Software, Sustentabilidade e os ODS,
                    incentivando a troca de conhecimentos, a inovação responsável e o engajamento com a sociedade.
                </p>
                <ul class="teaching-card__list">
                    <li style="text-align: justify;"> UFCSPA Acolhe</li>
                    <br>
                    <li style="text-align: justify;">Texto</li>
                </ul>
            </div>

            <div class="teaching-card" tuiCardLarge tuiAppearance="neutral">
                <tui-avatar src="@tui.users-round" size="xl" class="teaching-card__icon"></tui-avatar>
                <h3 class="teaching-card__heading">EXTENSÃO</h3>
                <p class="teaching-card__desc" style="text-align: justify;">
                    Desenvolvimento, promoção e uso de soluções digitais responsáveis, inclusivas e alinhadas às
                    necessidades sociais e aos ODS da Agenda 2030.
                </p>
            </div>


            <div class="teaching-card" tuiCardLarge tuiAppearance="floating">
                <tui-avatar src="@tui.calendar-heart" size="xl" class="teaching-card__icon"></tui-avatar>
                <h3 class="teaching-card__heading">EVENTOS</h3>
                <p class="teaching-card__desc" style="text-align: justify;">
                    Eventos que conectam Engenharia de Software, Sustentabilidade e os ODS, incentivando a troca de
                    conhecimentos, a inovação responsável e o engajamento com a sociedade.
                </p>
            </div>

            <div class="teaching-card" tuiCardLarge tuiAppearance="floating">
                <!--<div class="teaching-card" tuiCardLarge tuiAppearance="floating">
            <tui-avatar src="@tui.ruler" size="xl" class="teaching-card__icon"></tui-avatar>
            <h3 class="teaching-card__heading">MODELOS E FERRAMENTAS</h3>
            <p  class="teaching-card__desc" style="text-align: justify;">
                @@ -49,7 +42,7 @@ <h3 class="teaching-card__heading">PUBLICAÇÕES E BLOG</h3>
            <p class="teaching-card__desc" style="text-align: justify;">
                Reflexões, resultados e experiências dos nossos projetos, conectando teoria e prática em tecnologias digitais sustentáveis.     
            </p>
        </div>
        </div>-->
            </div>
        </div>
