<nav class="navbar">
  <img src="assets/SEEDSbranco.png" alt="SEEDS logo" class="logo" />
  <ul class="nav-links">
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">INÍCIO</a>
    </li>
    <li><a href="#">EQUIPE</a></li>
    <li><a href="#">CONDUTA</a></li>
    <li><a routerLink="/ensino" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">ENSINO</a></li>
    <li><a href="#">PESQUISA</a></li>
    <li><a href="#">EVENTOS</a></li>
    <li><a href="#">FERRAMENTAS</a></li>
    <li><a href="#">NOTÍCIAS</a></li>
  </ul>
</nav>
