@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --tui-font-text-s: 'Montserrat', sans-serif;
  --tui-font-text-m: 'Montserrat', sans-serif;
  --tui-font-text-l: 'Montserrat', sans-serif;
  --tui-font-heading: 'Montserrat', sans-serif;
}

body, html {
  font-family: 'Montserrat', sans-serif;
}
